.join {
    display: flex;
    flex-direction: column;
    color: white;

    span {
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: bold;
    }

}

.join-content {
    display: flex;
}

.left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    margin-bottom: 5rem;
    align-items: flex-start;
    >div:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.join-us {
    background-color: var(--caloryCard);
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    margin-left: 8rem;
    margin-top: 3rem;

    input {
        color: white;
        padding: 1rem;
        width: 15rem;
        font-size: 1rem;
        border: none;
        background-color: var(--caloryCard);

        &::placeholder {
            color: rgb(193, 188, 188);
        }

        

    } 
    button {
        border: none;
        
    }
}

@media screen and (max-width: 768px){
    .join .join-content {
        flex-direction: column;
    }

    .left-text span {
        font-size: 2.5rem;
        margin: .2rem
    }

    .join-us {
        margin: auto;
        margin-bottom: 3rem;
    }
}