.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.plans-title {
    text-transform: uppercase;
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.plan-cards {
    display: flex;
    height: 100%;
    gap: 3rem;

    i {
        font-size: 2rem;
        color: var(--orange);
    }
}

.cards {
    background-color: white;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;  
    transition: .3s ease;

    &:hover {
        background-color: var(--orange);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.1);

        i, div, span {
            color: white;
        } 

        button {
            background-color: white;
            color: black;
        }
    }

    .icon {
        margin-bottom: 2rem;
    }

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem;

        i {
            font-size: 1rem;
        }
    }

    >div:nth-of-type(1) {
        span {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    
    >div:nth-of-type(2) {
        span {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .see-more:hover{
        cursor: pointer;
    }

    button {
        align-self: center;
        margin: 2rem 0 1rem 0 ;
        width: 100%;
        border: none;
    }
}