.programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 5rem;

    .programs-text {
        display: flex;
        gap: 3rem;
        color: white;
        font-size: 4rem;
        font-weight: bold;
        justify-content: center;
    }
}

.cards-section {
    display: flex;
    gap: 1rem;
    color: white;
    padding: 2.5rem;
    .cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: var(--gray);
        padding: 2rem;
        align-items: flex-start;
        cursor: pointer;

        &:hover {
            background-color: var(--orange);
        }
        
        i {
            font-size: 50px;
        }
        
        .fa-dumbbell {
            transform: rotate(-45deg);
        }

        >span:nth-of-type(1) {
            font-weight: bold;
        }
        span {
            text-transform: none;
            line-height: 1.5rem;
        }

        .join-now {
            display: flex;
            /* align-items: center; */
            /* background-color: none; */
            gap: 2rem;

            i {
                font-size: 1.5rem;
            }
            
        }
    }
}