.header {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10rem;
  height: 5rem;
  margin: 2rem;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 1.5rem;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.menu li a {
  text-decoration: none;
  color: white;
}

.menu li a:hover {
  color: var(--orange);
  transition: color 0.2s ease-in-out;
}
