.header {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo { 
    width: 10rem;
    height: 5rem;
    margin: 2rem;
}

.menu {
    display: flex; 
    list-style: none;

    li {
        color: white;
        margin: 1.5rem;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            animation: 2s ease;
            color: var(--orange);
        }
    }
}